<section class="hero">
  <div class="row">
    <div class="row text-center">
    <h2 class="subheader">Need a ride? Give a ride</h2>
      </div>
    <div class="large-6 large-push-2 columns">
      <div class="circle-bg quote-1">
        <p><%= link_to "Sign Up as Driver", new_driver_path %></p>
      </div>
    </div>
    <div class="large-6 large-pull-2 columns">
      <div class="circle-bg quote-2">
        <p><%= link_to "Sign Up as Rider", new_rider_path %></p>
      </div>
    </div>
  </div>
</section>
