<div class="row">
  <h2><%= current_driver.name.capitalize %>, let's give someone a ride! </h2>

  <% if current_driver.current_ride.length == 1 %>
    <h3>Current Ride</h3>
    <% current_driver.current_ride.each do |ride| %>
      <%= render partial: 'current_active_ride', locals: {ride: ride} %>
    <% end %>
  <% else %>
    <%= render partial: 'available_rides'%>
  <% end %>

  <%= render "completed_rides" %>
</div>
